

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


#detalle{
    width: 100%;
    height: 100%;
    margin-top:0px;
}
.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    #background: #A30F00;
    background: #ffffff;
    background-image: url("img/black.png");
    font-size: 600%;
    color:#ffffff;
    font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
}


h1{
    font-size: 77px;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #242424;
    color:#ffffff;

}

.services-section {
    height: 100%;
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    background-image: url("img/black.png");
}

.contact-section {
    height: 70%;
    padding-top: 15px;
    text-align: center;
    background: #eee;
    color: #000000;
}
#header {
    #background: #A30F00;
    background: #000000;
    position:absolute;
    height: 10%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    #overflow:hidden;
    z-index:1;

}


#menu {
    position: relative;
    margin-top: 1.5em;
    margin-left: 10em;
    color:#ffffff;
    font-size: 1em;
    bottom:1em;
    width: 30em;
    font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
    display:inline-block;
}


#logo {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    color:#ffffff;
    font-size: 1em;
    width: 30em;
    font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
    display:inline-block;
}

#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.section{
    position:absolute;
    height: 50%;
    color:#ffffff;
    padding: 10%;
    font-size: 400%;
    font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
    text-align: center;

}
#content{
    position: absolute;
    display: inline;
    top:10%;
    left:0;
    right:0;
    height: 100%;
    border:0;
}
#section-1{
    margin-top:50px;
    padding:10%;
    position: absolute;
    margin-bottom: 10px;
    background:#A30F00;
    z-index: 1;
    height: 85%;
    font-size: 70px;
    font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
    text-align: center;
    color:#ffffff;
}
#section-2{
    background: #000000;
}